﻿<%@ Page Language="C#" AutoEventWireup="true" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Hello</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <%=BALTA.Test.CSClass.CSHello %>
        </div>
    </form>
</body>
</html>
